.checkboxContainer {
    display: block;
    position: relative;
    width: 18px;
    height: 18px;
    cursor: pointer;
    user-select: none;
}

.input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: transparent;
    border: 2px solid var(--color-interface-outline);
    border-radius: 4px;
    transition: all 0.2s;
}

.checkboxContainer:hover .input~.checkmark {
    border-color: var(--color-brand-primary);
}

.input:checked~.checkmark {
    background-color: var(--color-brand-primary);
    border-color: var(--color-brand-primary);
}

.input:indeterminate~.checkmark {
    background-color: var(--color-brand-primary);
    border-color: var(--color-brand-primary);
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.input:checked~.checkmark:after {
    display: block;
}

.input:indeterminate~.checkmark:after {
    display: block;
    left: 4px;
    top: 7px;
    width: 6px;
    height: 1px;
    border: none;
    background: white;
    transform: none;
}

.checkmark:after {
    left: 5px;
    top: 2px;
    width: 4px;
    height: 8px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.input:disabled~.checkmark {
    opacity: 0.3;
    cursor: not-allowed;
}

.checkboxContainer .input:focus-visible~.checkmark {
    box-shadow: 0 0 0 2px rgba(var(--color-brand-primary-rgb), 0.3);
}