.navbar {
    width: 100%;
    height: 64px;
    background-color: var(--color-utility-primaryBackground);
    border-bottom: none;
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
}

.container {
    width: 100%;
    padding: 0 var(--spacing-md);
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
}

.menuIcon {
    color: var(--color-utility-primaryText);
    cursor: pointer;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoImage {
    object-fit: cover;
}

.profile {
    display: flex;
    justify-content: flex-end;
    color: var(--color-utility-primaryText);
}

.profileIcon {
    cursor: pointer;
    width: 32px;
    height: 32px;
    border-radius: var(--radius-full);
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 768px) {
    .navbar {
        height: 80px;
    }
}