.skeleton {
    background-color: rgba(255, 255, 255, 0.05);
    background-image: linear-gradient(90deg,
            transparent 0px,
            rgba(255, 255, 255, 0.08) 40px,
            transparent 80px);
    background-size: 200% 100%;
    animation: shimmer 2s infinite linear;
}

@keyframes shimmer {
    0% {
        background-position: -200% 0;
    }

    100% {
        background-position: 200% 0;
    }
}