.card {
    background-color: var(--color-interface-surface);
    border-radius: var(--radius-xl);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.shimmer {
    background: rgba(255, 255, 255, 0.05);
    background-image: linear-gradient(to right,
            rgba(255, 255, 255, 0.05) 0%,
            rgba(255, 255, 255, 0.08) 20%,
            rgba(255, 255, 255, 0.05) 40%,
            rgba(255, 255, 255, 0.05) 100%);
    background-repeat: no-repeat;
    background-size: 800px 100%;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: shimmer;
    animation-timing-function: linear;
}

@keyframes shimmer {
    0% {
        background-position: -800px 0;
    }

    100% {
        background-position: 800px 0;
    }
}

.imagePlaceholder {
    aspect-ratio: 16 / 9;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.03);
}

.info {
    padding: var(--spacing-md);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex: 1;
}

.textGroup {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xs);
    width: 70%;
}

.line {
    height: 16px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.05);
    margin-bottom: 8px;
}

.lineShort {
    width: 60%;
}

.lineLong {
    width: 90%;
}

.buttonPlaceholder {
    width: 80px;
    height: 32px;
    border-radius: var(--radius-full);
    background-color: rgba(32, 249, 40, 0.1);
}