.skeleton {
    background-color: var(--color-interface-surface);
    background-image: linear-gradient(90deg,
            var(--color-interface-surface) 0px,
            rgba(255, 255, 255, 0.1) 40px,
            var(--color-interface-surface) 80px);
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite linear;
}

@keyframes shimmer {
    0% {
        background-position: -200% 0;
    }

    100% {
        background-position: 200% 0;
    }
}