.card {
    background-color: var(--color-interface-surface);
    border-radius: var(--radius-xl);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.shimmer {
    background: #f6f7f8;
    background-image: linear-gradient(to right,
            #f6f7f8 0%,
            #edeef1 20%,
            #f6f7f8 40%,
            #f6f7f8 100%);
    background-repeat: no-repeat;
    background-size: 800px 100%;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: shimmer;
    animation-timing-function: linear;
}

@keyframes shimmer {
    0% {
        background-position: -468px 0;
    }

    100% {
        background-position: 468px 0;
    }
}

.imagePlaceholder {
    aspect-ratio: 16 / 9;
    width: 100%;
    background-color: #e2e8f0;
}

.info {
    padding: var(--spacing-md);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex: 1;
}

.textGroup {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xs);
    width: 70%;
}

.line {
    height: 16px;
    border-radius: 4px;
    background-color: #e2e8f0;
    margin-bottom: 8px;
}

.lineShort {
    width: 60%;
}

.lineLong {
    width: 90%;
}

.buttonPlaceholder {
    width: 80px;
    height: 32px;
    border-radius: var(--radius-full);
    background-color: #e2e8f0;
}